In [1]:
import pandas as pd

In [2]:
df_prospects = pd.read_csv(r"C:\Users\sara6284\Downloads\SF_Prospects.csv")
df_prospects.head()

,Last_Activity,Relationship_Lead,Account_Name,Primary_State_txt,Secondary_State_txt,Priority,Last_Modified_Date,Primary_Zip,Secondary_Zip,Primary_City,Secondary_City,Current_Census_NAICS,NAICS_Code,Annual_Revenue,Phone,Market_Name,Area_Code
0,4/12/2022,Shad Becker,"Lanter Delivery Systems, Inc.",IL,IL,Medium,4/27/2022,62060-1466,62060-1466,Madison,Madison,484110.0,484110,70000000.0,6184525300,St Louis Market,618.0
1,NaN,System User,My Elite Card LLC,MO,MO,Inactive,4/27/2022,64063,64063,Lees Summit,Lees Summit,812990.0,812990,76800000.0,8164054007,Unknown,816.0
2,9/29/2020,Brian Ferguson,Aspeq Holdings Inc.,MO,MO,Medium,4/27/2022,63144-1511,63144-1511,St. Louis,St. Louis,333414.0,333414,30000000.0,3143335550,St Louis Market,314.0
3,5/25/2018,Kira Owens,National Drying Tech LLC,KS,KS,Low,4/27/2022,66062,66062,Olathe,Olathe,811420.0,811420,458000000.0,9136014546,Kansas City Market,913.0
4,6/24/2022,Bailie Klages,"Rogers Group, Inc.",TN,TN,High,5/28/2022,37228-1495,37203-1388,Nashville,Nashville,237310.0,237310,541000000.0,6152420585,Nashville CSO Market,615.0

In [3]:
df_ir = pd.read_csv(r"C:\Users\sara6284\Downloads\SF_IR_Companies.csv")
df_ir.head()

,Account_Name,Assigned_To,Sales_Call_Report_No,Current_Census_NAICS,NAICS_Code,Sales_Call_Date
0,Anchor Packaging Inc,Roger B Randall,CR-000304111,326199,326199,5/9/2022
1,Arends Hogan Walker LLC,Brooke M Wright,CR-000290314,423820,423820,1/28/2022
2,"Cap America, Inc.",Roger B Randall,CR-000291098,315990,315990,2/3/2022
3,"Carr Lane Manufacturing, Co.",Joseph R Chapman,CR-000307394,333514,333514,6/3/2022
4,City of St. Charles,Bernice H Hodge,CR-000287182,921190,921190,1/4/2022

In [4]:
df_ir['Sales_Call_Date'] = pd.to_datetime(df_ir['Sales_Call_Date'])
df_ir.head()

,Account_Name,Assigned_To,Sales_Call_Report_No,Current_Census_NAICS,NAICS_Code,Sales_Call_Date
0,Anchor Packaging Inc,Roger B Randall,CR-000304111,326199,326199,2022-05-09
1,Arends Hogan Walker LLC,Brooke M Wright,CR-000290314,423820,423820,2022-01-28
2,"Cap America, Inc.",Roger B Randall,CR-000291098,315990,315990,2022-02-03
3,"Carr Lane Manufacturing, Co.",Joseph R Chapman,CR-000307394,333514,333514,2022-06-03
4,City of St. Charles,Bernice H Hodge,CR-000287182,921190,921190,2022-01-04

In [5]:
df_ir.Current_Census_NAICS.unique()

array([326199, 423820, 315990, 333514, 921190, 423130, 423440, 522292,
       332811, 331315, 333999, 921110, 336412, 311340, 519120, 561612],
      dtype=int64)

In [6]:
df_ir.NAICS_Code.unique()

array([326199, 423820, 315990, 333514, 921190, 423130, 423440, 522292,
       332811, 339950, 212312, 921110, 336412, 311340, 519120, 561612],
      dtype=int64)

In [9]:
list_codes = [326199, 423820, 315990, 333514, 921190, 423130, 423440, 522292,\
       332811, 331315, 333999, 921110, 336412, 311340, 519120, 561612,\
   326199, 423820, 315990, 333514, 921190, 423130, 423440, 522292,\
       332811, 339950, 212312, 921110, 336412, 311340, 519120, 561612]

set(list_codes)

{212312,
 311340,
 315990,
 326199,
 331315,
 332811,
 333514,
 333999,
 336412,
 339950,
 423130,
 423440,
 423820,
 519120,
 522292,
 561612,
 921110,
 921190}

In [19]:
list_census_NAICS = df_ir.Current_Census_NAICS.to_list()
list_reg_NAICS = df_ir.NAICS_Code.to_list()
df_prospects = df_prospects.loc[(df_prospects.Current_Census_NAICS.isin(list_census_NAICS)) | \
                               (df_prospects.NAICS_Code.isin(list_reg_NAICS)) | \
                               (df_prospects.Current_Census_NAICS.isin(list_reg_NAICS)) | \
                               (df_prospects.NAICS_Code.isin(list_census_NAICS))]
df_prospects.head()

,Last_Activity,Relationship_Lead,Account_Name,Primary_State_txt,Secondary_State_txt,Priority,Last_Modified_Date,Primary_Zip,Secondary_Zip,Primary_City,Secondary_City,Current_Census_NAICS,NAICS_Code,Annual_Revenue,Phone,Market_Name,Area_Code
30,8/23/2016,Daniel Tilghman,"The Western Textile Company, Inc.",MO,MO,Low,4/27/2022,63011-3125,63011-3125,St. Louis,St. Louis,326199.0,326199,44800000.0,6367790666,St Louis Market,636.0
63,4/25/2018,Angela Rodewald,Strongpoint International LLC,MO,MO,Inactive,4/27/2022,64015,64015,Blue Springs,Blue Springs,561612.0,561612,92900000.0,8165988216,Kansas City Market,816.0
97,2/6/2008,System User,Qualserv Corporation,MO,MO,Medium,4/27/2022,64116-4314,64116-4314,Kansas City,Kansas City,423440.0,423440,250000000.0,8162217300,Unknown,816.0
125,1/6/2010,Brooke Hiestand,"Concepts for Business, Inc.",KS,KS,Low,4/27/2022,66214-1629,66214-1629,Lenexa,Lenexa,423440.0,423440,538000000.0,9138888686,Kansas City Market,913.0
182,9/25/2008,Alan Disbrow,"Krause Plow Corporation, Inc.",KS,KS,Medium,4/27/2022,67501-1728,67501-1728,Hutchinson,Hutchinson,423820.0,423820,32300000.0,3166636161,Kansas City Market,316.0

In [20]:
df_area_codes = pd.read_csv(r"C:\Users\sara6284\Documents\All_Area_Codes.csv")
df_area_codes.head()

   Area_Codes
0         636
1         314
2         618
3         217
4         513

In [21]:
list_area_codes = df_area_codes.Area_Codes.to_list()
list_area_codes

[636, 314, 618, 217, 513, 615, 629, 317, 463]

In [22]:
df_prospects.Market_Name.unique()

array(['St Louis Market', 'Kansas City Market', 'Unknown', 'Texas Market',
       'Iowa Market', 'Merchant Services', 'Grand Rapids Market',
       'Southwest Region Market', 'Central Missouri Market',
       'Wichita Market', 'Illinois Market', 'Manhattan Market',
       'Nashville CSO Market', 'Denver Market', 'Cincinnati CSO Market',
       'Oklahoma Market', 'Commercial Card'], dtype=object)

In [23]:
df_prospects.Area_Code.unique()

array([636., 816., 913., 316., 479., 785., 481., 314., 729., 812., 217.,
       319., 806., 901.,  nan, 712., 563., 269., 870., 417., 620., 660.,
       308., 618., 641., 817., 573., 515., 878., 851., 569., 855., 800.,
       309., 815., 414., 847., 330., 630., 773., 937., 616., 972., 303.,
       216., 970., 740., 979., 310., 918., 713., 419., 281., 513., 615.,
       865., 832., 859., 731., 931., 219., 260., 317., 574., 765., 719.,
       201., 661., 708., 214., 720., 402., 530., 612., 717., 954., 614.,
       440., 920., 469., 919., 502., 405., 888., 423.])

In [24]:
list_markets = ['St Louis Market', 'Illinois Market', \
                'Nashville CSO Market', 'Cincinnati CSO Market']
list_markets

['St Louis Market',
 'Illinois Market',
 'Nashville CSO Market',
 'Cincinnati CSO Market']

In [25]:
len(df_prospects.index)

263

In [26]:
df_prospects = df_prospects.loc[(df_prospects.Area_Code.isin(list_area_codes)) | \
                               ((df_prospects.Primary_State_txt=='MO') & (df_prospects.Primary_City=='St. Louis')) | \
                               ((df_prospects.Primary_State_txt=='MO') & (df_prospects.Primary_City=='Fenton')) | \
                               ((df_prospects.Primary_State_txt=='MO') & (df_prospects.Primary_City=='Chesterfield')) | \
                               ((df_prospects.Primary_State_txt=='MO') & (df_prospects.Primary_City=='Webster Groves')) | \
                               ((df_prospects.Primary_State_txt=='IL') & (df_prospects.Primary_City=='Peoria')) | \
                               ((df_prospects.Primary_State_txt=='IL') & (df_prospects.Primary_City=='Bloomington')) | \
                               ((df_prospects.Primary_State_txt=='IL') & (df_prospects.Primary_City=='Decatur')) | \
                               ((df_prospects.Primary_State_txt=='OH') & (df_prospects.Primary_City=='Cincinnati')) | \
                               ((df_prospects.Primary_State_txt=='TN') & (df_prospects.Primary_City=='Nashville')) | \
                               ((df_prospects.Primary_State_txt=='IN') & (df_prospects.Primary_City=='Indianapolis')) | \
                               ((df_prospects.Secondary_State_txt=='MO') & (df_prospects.Secondary_City=='St. Louis')) | \
                               ((df_prospects.Secondary_State_txt=='MO') & (df_prospects.Secondary_City=='Fenton')) | \
                               ((df_prospects.Secondary_State_txt=='MO') & (df_prospects.Secondary_City=='Chesterfield')) | \
                               ((df_prospects.Secondary_State_txt=='MO') & (df_prospects.Secondary_City=='Webster Groves')) | \
                               ((df_prospects.Secondary_State_txt=='IL') & (df_prospects.Secondary_City=='Peoria')) | \
                               ((df_prospects.Secondary_State_txt=='IL') & (df_prospects.Secondary_City=='Bloomington')) | \
                               ((df_prospects.Secondary_State_txt=='IL') & (df_prospects.Secondary_City=='Decatur')) | \
                               ((df_prospects.Secondary_State_txt=='OH') & (df_prospects.Secondary_City=='Cincinnati')) | \
                               ((df_prospects.Secondary_State_txt=='TN') & (df_prospects.Secondary_City=='Nashville')) | \
                               ((df_prospects.Secondary_State_txt=='IN') & (df_prospects.Secondary_City=='Indianapolis')) | \
                               (df_prospects.Market_Name.isin(list_markets))]
df_prospects.head()

,Last_Activity,Relationship_Lead,Account_Name,Primary_State_txt,Secondary_State_txt,Priority,Last_Modified_Date,Primary_Zip,Secondary_Zip,Primary_City,Secondary_City,Current_Census_NAICS,NAICS_Code,Annual_Revenue,Phone,Market_Name,Area_Code
30,8/23/2016,Daniel Tilghman,"The Western Textile Company, Inc.",MO,MO,Low,4/27/2022,63011-3125,63011-3125,St. Louis,St. Louis,326199.0,326199,44800000.0,6367790666,St Louis Market,636.0
693,NaN,System User,Alumax Foils Inc,MO,MO,Medium,4/27/2022,63111-2597,63111-2597,St. Louis,St. Louis,331315.0,331315,100000000.0,4817000,Unknown,481.0
719,6/7/2022,Ryan Baumgartner,City of Florissant,MO,MO,High,6/7/2022,63031-4925,63031-4900,FLORISSANT,Florissant,921110.0,NaN,30900000.0,3148397610,St Louis Market,314.0
738,4/17/2013,System User,Travis Arends CPA,MO,MO,Low,4/27/2022,63126-2936,63126-2936,St. Louis,St. Louis,423820.0,423820,179000000.0,7297458,Unknown,729.0
862,12/16/2020,Jeffrey Strasner,City Of Carrollton,IL,IL,Low,4/27/2022,62016-1252,62016-1252,Carrollton,Carrollton,921110.0,921110,151000000.0,2179425517,Texas Market,217.0

In [27]:
df_prospects['Last_Activity'] = pd.to_datetime(df_prospects['Last_Activity'])
df_prospects['Last_Modified_Date'] = pd.to_datetime(df_prospects['Last_Modified_Date'])
df_prospects.head()

,Last_Activity,Relationship_Lead,Account_Name,Primary_State_txt,Secondary_State_txt,Priority,Last_Modified_Date,Primary_Zip,Secondary_Zip,Primary_City,Secondary_City,Current_Census_NAICS,NAICS_Code,Annual_Revenue,Phone,Market_Name,Area_Code
30,2016-08-23,Daniel Tilghman,"The Western Textile Company, Inc.",MO,MO,Low,2022-04-27,63011-3125,63011-3125,St. Louis,St. Louis,326199.0,326199,44800000.0,6367790666,St Louis Market,636.0
693,NaT,System User,Alumax Foils Inc,MO,MO,Medium,2022-04-27,63111-2597,63111-2597,St. Louis,St. Louis,331315.0,331315,100000000.0,4817000,Unknown,481.0
719,2022-06-07,Ryan Baumgartner,City of Florissant,MO,MO,High,2022-06-07,63031-4925,63031-4900,FLORISSANT,Florissant,921110.0,NaN,30900000.0,3148397610,St Louis Market,314.0
738,2013-04-17,System User,Travis Arends CPA,MO,MO,Low,2022-04-27,63126-2936,63126-2936,St. Louis,St. Louis,423820.0,423820,179000000.0,7297458,Unknown,729.0
862,2020-12-16,Jeffrey Strasner,City Of Carrollton,IL,IL,Low,2022-04-27,62016-1252,62016-1252,Carrollton,Carrollton,921110.0,921110,151000000.0,2179425517,Texas Market,217.0

In [28]:
df_prospects.Account_Name.nunique()

127

In [29]:
df_contacts = pd.read_csv(r"C:\Users\sara6284\Downloads\Contacts.csv")
df_contacts.head()

C:\Users\sara6284\AppData\Local\Temp\ipykernel_6484\587137425.py:1: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_contacts = pd.read_csv(r"C:\Users\sara6284\Downloads\Contacts.csv")

,Salutation,First_Name,Last_Name,Title,Account_Name,Residential_Street,Residential_City,Residential_State,Residential_Zip,Residential_Country,Company_Phone,Fax,Mobile,Primary_Email,Relationship_Lead,Current_Census_NAICS,NAICS_Code,Annual_Revenue
0,Mr.,Steve,Lanter,President,"Lanter Delivery Systems, Inc.",NaN,NaN,NaN,NaN,United States,6184525300,6184525931,NaN,slanter@lanterdeliverysystems.com,Shad Becker,484110.0,484110,7.000000e+07
1,NaN,Keith,Zimmerman,Chief Executive Officer,Medical Center of Arlington,NaN,Arlington,TX,76015-2998,United States,8174724800,NaN,NaN,keith.zimmerman@hcahealthcare.com,System User,622110.0,622110,4.500000e+07
2,Mr.,H,Reed,NaN,"Cohen Esrey Real Estate Serive, Inc.",9111 El Monte,Prairie Village,KS,66207-2626,United States,9133458049,NaN,NaN,NaN,John Mikelson,531210.0,531210,1.010000e+08
3,NaN,Davin,Mayerhoff,VP Finance,McCarthy Building Companies Inc,NaN,NaN,NaN,NaN,United States,3149683300,3149683037,NaN,NaN,Scott Piedmont,236220.0,236220,3.230000e+09
4,NaN,Derrick,Barker,CFO,Businessolvercom Inc,1025 Ashworth Rd Ste 101,West Des Moines,IA,50265-3542,United States,5152731500,NaN,NaN,dbarker@businessolver.com,Jacob Unruh,541612.0,541612,3.590000e+07

In [30]:
df_contacts.Account_Name.nunique()

24718

In [31]:
list_accts = df_prospects.Account_Name.to_list()
# list_accts

In [32]:
df_contacts = df_contacts.loc[(df_contacts.Account_Name.isin(list_accts))]
df_contacts.head()

,Salutation,First_Name,Last_Name,Title,Account_Name,Residential_Street,Residential_City,Residential_State,Residential_Zip,Residential_Country,Company_Phone,Fax,Mobile,Primary_Email,Relationship_Lead,Current_Census_NAICS,NAICS_Code,Annual_Revenue
351,NaN,"Garry DOESN""T EXIST AT COMPANY","Tagg DOESN""T EXIST AT COMPANY",Senior Accountant,Dayton Lamina,500 Progress Rd,Dayton,OH,45449-2351,United States,9378595111,NaN,NaN,gtagg@daytonprogress.com,James Forse,333514.0,333514,1.140000e+09
358,Mr.,Gary,Brush,VP Accounting,Dayton Lamina,NaN,NaN,NaN,NaN,United States,9378595111,NaN,NaN,gbrush@daytonlamina.com,James Forse,333514.0,333514,1.140000e+09
365,NaN,Bill,Mills,CFO,Dayton Lamina,500 Progress Rd,Dayton,OH,45449-2351,United States,9378595111,NaN,NaN,bmills@daytonprogress.com,James Forse,333514.0,333514,1.140000e+09
372,NaN,John,HolloBaugh,Controller,Dayton Lamina,500 Progress Rd,Dayton,OH,45449-2351,United States,9378595111,NaN,NaN,jhollobaugh@daytonprogress.com,James Forse,333514.0,333514,1.140000e+09
473,NaN,Douglas,Marciniak,CFO,Kay Manufacturing Co,602 State St,Calumet City,IL,60409-2041,United States,7088626800,NaN,NaN,doug.marciniak@kaymfg.com,Ken Dejuilio,326199.0,326199,4.340000e+07

In [33]:
df_contacts.Account_Name.nunique()

118

In [34]:
df_contacts = df_contacts[(df_contacts.Title.str.contains('CFO', case=False)) | \
                         (df_contacts.Title.str.contains('Chief Financial Officer', case=False)) | \
                         (df_contacts.Title.str.contains('Controller', case=False)) | \
                         (df_contacts.Title.str.contains('Treasurer', case=False))]
df_contacts.head()

,Salutation,First_Name,Last_Name,Title,Account_Name,Residential_Street,Residential_City,Residential_State,Residential_Zip,Residential_Country,Company_Phone,Fax,Mobile,Primary_Email,Relationship_Lead,Current_Census_NAICS,NAICS_Code,Annual_Revenue
365,NaN,Bill,Mills,CFO,Dayton Lamina,500 Progress Rd,Dayton,OH,45449-2351,United States,9378595111,NaN,NaN,bmills@daytonprogress.com,James Forse,333514.0,333514,1.140000e+09
372,NaN,John,HolloBaugh,Controller,Dayton Lamina,500 Progress Rd,Dayton,OH,45449-2351,United States,9378595111,NaN,NaN,jhollobaugh@daytonprogress.com,James Forse,333514.0,333514,1.140000e+09
473,NaN,Douglas,Marciniak,CFO,Kay Manufacturing Co,602 State St,Calumet City,IL,60409-2041,United States,7088626800,NaN,NaN,doug.marciniak@kaymfg.com,Ken Dejuilio,326199.0,326199,4.340000e+07
551,NaN,Bill,Chin,Controller,Triangle Tool Corporation,8609 W Port Ave,Milwaukee,WI,53224,United States,4143577117,4143577610,NaN,NaN,Ken Dejuilio,333514.0,333514,3.240000e+07
665,Mr.,Dallas,Kapp,Chief Financial Officer,"The Western Textile Company, Inc.",1705 Ashford Oaks Ct.,Glencoe,MO,63038-,United States,6367790666,6362259854,NaN,dkapp@wtpc.com,Daniel Tilghman,326199.0,326199,4.480000e+07

In [35]:
len(df_contacts.index)

92

In [36]:
df_contacts.Account_Name.nunique()

61

In [41]:
#df_contacts.to_excel("Existing_Contacts_IR_NAICS.xlsx")

In [42]:
#should be the same number as number of accts need contacts
127-61

66

In [43]:
list_existing = df_contacts.Account_Name.to_list()

In [44]:
df_prospects = df_prospects[~df_prospects.Account_Name.isin(list_existing)]
df_prospects.Account_Name.nunique()

66

In [45]:
#df_prospects.to_excel("Missing_Contacts_IR_NAICS.xlsx")